@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import 'tailwindcss';
@theme {
  --color-main: #614f72;
  --color-bg: #0d0b0e;
  --color-text: #fff;

  --font-sec: var(--font-sec);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
