@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import 'tailwindcss';
@theme {
  --color-main: #d71000;
  /* --color-main: #0A1B2F; */
  /* --color-main: #486A66; */
  /* --color-main: #17151f; */

  --color-bg: #080b0a;
  /* --color-bg: #0c0c0c; */
  /* --color-bg: #0e1012; */

  --color-text: #fff;

  --font-sec: var(--font-sec);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
body:has(.hide-footer) footer {
  display: none;
}
