@import 'tailwindcss';
@theme {
  --color-main: #ffde02;
  --color-bg: #0d0d0d;
  --color-text: #f6f9fa;

  --font-sec: var(--font-sec);
  --font-wide: var(--font-wide);
  --font-arab: var(--font-wide);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
body:has(.hide-nav) nav {
  display: none;
}
